.left-content
	.left-content__user
		.left-content__user-contents
			.left-content__user-name
				= current_user.name
				= link_to '/groups/1/edit' do
					= fa_icon 'edit', class: "left-content__user-icon"
				= link_to '/users/edit' do
					=fa_icon 'cog', class: "chat-side__user--edit-icon"
					.left-content__user--new--group

	.left-content__groups
		.left-content__group-list
			.left-content__group
			- current_user.groups.each do |group|
				.group
				= link_to group_messages_path(group) do
					.left-content__group-name
						= group.name
						.left-content__group-message
.main-content
	.main-content__header
		.main-content__header--group.clearfix
			.main-content__header--group--name
				= @group.name    #コントローラで定義されている。そこから@で引っ張る。
			%a.chat-main__header--group-edit
				= link_to 'edit', edit_group_path(@group), method: :get, class: "chat-main__header--group-edit-btn"
		.main-content__header-menmbers
			- @group.users.each do |user|	#中間テーブルから取得。シークエルプロ確認→データがあるので、中間テーブルから取得しようと考える。
				= user.name
	.main-content__body
		.main-content__body__message-list
			.main-content__message
				= render @messages

	.chat-footer
		.chat-footer__body
			= form_for [@group, @message] do |f|
				= f.text_field :content, class: 'form__message', placeholder: 'type a message'
				.form__mask
					= f.label :image, class: 'form__mask__image' do
						= fa_icon 'picture-o', class: 'icon'
						= f.file_field :image, class: 'hidden'
				.submit
					= f.submit 'Send', class: "form__submit"
